<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
        {% endblock title %}
        {% include 'snippets/header.html' %}
    </head>

    <body>
        <!-- Body -->
        <style type="text/css">
            .main{
                min-height: 100vh;
                height: 100%;
            }
        </style>

        <div class="main">
            {% block content %}
            {% endblock content %}  
        </div>

       <!-- EndBody -->
        {% include 'snippets/footer.html' %}
    </body>
</html>